
<table [class]="css.classTable">
  <thead [class]="css.classHeader">
    <tr [class]="css.classHeaderRow">
      <th *ngIf="settings.check || settings.radio">
        {{settings.selectLabel}}
      </th>
      <th [class]="css.classTh" *ngFor="let head of headings">
        <span [class.mano]="settings.sortable || head.sortable" (click)="sortBy(head)">
          {{ head.label }}
          <span *ngIf="settings.sortable || head.sortable">
            <i class="fa fa-sort" *ngIf="head.ordenado==undefined"></i>
            <i class="fa fa-sort-up" *ngIf="head.ordenado=='asc'"></i>
            <i class="fa fa-sort-down" *ngIf="head.ordenado=='des'"></i>
          </span>
        </span>

      </th>
    </tr>
  </thead>
  <tbody [class]="css.classBody">
    <ng-container *ngFor="let dat of all;let di=index">
      <tr class="{{css.classBodyRow}} {{dat.tableSelected===true?css.selectedRowClass:''}} {{settings.rowSelect?'mano':''}}"
          (click)="rowClick(dat,di,$event)">
        <ng-container *ngIf="settings.check || settings.radio">
          <td *ngIf="settings.check" class="text-center" >
            <span (click)="checkClick(dat,di,$event)" class="mano">
              <i class="fa fa-check-square-o" aria-hidden="true"  *ngIf="dat.tableSelected"></i>
              <i class="fa fa-square-o" aria-hidden="true"  *ngIf="!dat.tableSelected"></i>
            </span>
          </td>
          <td *ngIf="settings.radio" class="text-center">
            <span (click)="radioClick(dat,di,$event)" class="mano">
              <i class="fa fa-dot-circle-o" aria-hidden="true" *ngIf="dat.tableSelected"></i>
              <i class="fa fa-circle-o" aria-hidden="true" *ngIf="!dat.tableSelected"></i>
            </span>
          </td>
        </ng-container>
        <td [class]="css.classBodyTd" *ngFor="let head of headings;let li=index">
          {{ dat[headings[li].field] }}
        </td>
      </tr>
    </ng-container>
  </tbody>
  <tfoot [class]="css.classFooter">
    <tr [class]="css.classFooterRow">
      <td [class]="css.classFooterTd">

      </td>
    </tr>
  </tfoot>
</table>
